@media (min-width 768px)
	footer
		text-align left
		
		.col-sm-4
			text-align right
			
			.logo-blanco
				margin-bottom 0
				
	header
		.line-top
			min-height 40px
			
			.container
				display block
		
		.navbar
			background-color transparent
			
			.open>a,
			.nav .open>a:focus,
			.nav .open>a:hover
				background-color rojo
				color white !important
			
			.navbar-collapse
				position relative
				text-align center
				
				.navbar-nav
					margin-top 0
					background-color transparent
					display inline-block
					float none
					
					& > li
						&:before
							content "|"
							position absolute
							line-height 30px
							top 0
							left 0
						
						&:first-child
							&:before
								content ""
					
					li
						text-align left
						
						a
							color gray_body
							font-size 16px
							padding 7px 18px
							
							&:hover,
							&:focus
								background-color rojo
								color white
						
						&.active
							& > a
								background-color rojo
								color white
								
	.breadcrumb-wrapper
		margin-top 16px

	.general-content
		padding-top 10px
		
		.container
			padding 0 40px
		
		.post-page
			.main-image
				figcaption
					padding 18px 40px
					
					h1
						font-size 24px

	.hidden
		display block !important

	.icon-buttons
		.col-sm-4
			padding 0 15px 0 35px
		
	.image-buttons
		figure
			figcaption
				span
					padding 0 35px
	

	.scrollToTop
		right 20px
		bottom 20px

	.tabs-section
		.nav-tabs
			li
				a
					height 60px
		
		.tab-content
			.button-icon-text
				padding 8px 30px 0 100px
				
				.title-btn
					font-size 20px
				
	.triangle-buttons
		.container 
			padding 0 7px
			
		.bt-bg
			font-size 12px
			
			&.b-left
				padding 16px 56px 0 5px
			
			&.b-right
				padding 16px 40px 0 30px
			

@media (min-width 992px)
	header
		.line-top
			.items-top
				li
					margin 0 20px
		
		.logos-media
			margin-top 70px
			margin-bottom 60px
			
			.social-media
				margin 45px 0 0 0
	
	.consult-phone
		.container
			figure
				top -55px
	
	.general-content
		.table-multiCols-wrapper
			overflow-x visible

			.table-multiCols
				thead
					tr
						th
							white-space nowrap
	
	.image-buttons
		figure
			figcaption
				span
					padding 0 90px
	

	.scrollToTop
		height 60px
		width 60px
		right 30px
		bottom 30px
		
		i
			font-size 20px
			line-height 57px
		
			
	.slider
		.slides-wrapper
			padding-bottom 55px
		
		.slide
			.caption
				.content-caption
					font-size 16px
					padding 30px 150px 30px 30px
	
	.tabs-section
		.nav-tabs
			li
				a
					height 60px
		
		.tab-content
			.button-icon-text
				padding 28px 30px 0 100px
				
				.title-btn
					font-size 24px
	
	.triangle-buttons
		.bt-bg
			font-size 14px
			
			&.b-left
				padding 16px 77px 0 18px
			
			&.b-right
				padding 16px 70px 0 45px
			
	
	.videos-wrapper
		.fb-page
			float right

@media (min-width 1200px)
	.consult-phone
		.container
			figure
				top -66px
				
	.slider
		.slides-wrapper
			padding-bottom 66px
	
	.image-buttons
		figure
			figcaption
				span
					padding 0 140px
	
	.tabs-section
		.nav-tabs
			li
				a
					height auto
					
	.triangle-buttons
		.bt-bg
			&.b-left
				padding 16px 120px 0 25px
			
			&.b-right
				padding 16px 120px 0 52px