rojo = #e91b23
gray_body = #4d4d4d

@import ("mixins.styl")
@import ("fonts.styl")

/*
Theme Name: Ministerio de trabajo
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6
	font-weight bold

body
	background url("img/bg.png") repeat-x center top
	color gray_body

footer
	background-color #666
	background-image url("img/bg-footer.png")
	background-position 0 0
	background-repeat no-repeat
	color white
	font-size 11px
	padding-top 48px
	padding-bottom 36px
	text-align center
	
	.col-sm-4
		text-align center
		
		.logo-blanco
			display inline-block
			margin-bottom 20px
	
header
	.line-top
		background-color rojo
		min-height 20px
		
		.items-top
			margin 0
			text-decoration none
			
			&:hover
				li
					opacity .5
			
			li
				display inline-block
				position relative
				margin 0 10px
				transition all .5s
				
				&:hover
					opacity 1
				
				&:last-child
					margin-right 0 !important
				
				&:before
					position absolute
					content ""
					background-repeat no-repeat
					background-position 0 50%
					height 23px
					top 50%
					margin-top -11.5px
				
				a
					color white
					display block
					padding 10px 0
					text-decoration none
					
				
				&.icon-mapa
					&:before
						background-image url("img/mapa-icon.png")
						width 35px
					
					a
						padding-left 45px
				
				&.icon-intranet
					&:before
						background-image url("img/intranet-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-faq
					&:before
						background-image url("img/faq-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-portal
					&:before
						background-image url("img/portal-icon.png")
						width 21px
					
					a
						padding-left 31px
					
	.logos-media
		margin-top 40px
		margin-bottom 50px

		.container
			padding 0

		.logo-wrapper
			text-align center
			display block
			
			img
				display inline-block
		
		.social-media
			text-decoration none
			margin 40px 0 0 0
			font-size 0
			
			li
				display inline-block
				margin 0 2px
				
				&:last-child
					margin-right 0

				a
					display block
					background-color #969696
					transition all .5s
					border-radius 50%
	
	.navbar
		background-color rojo
		border 0 none
		margin-bottom 0
		position relative
		z-index 10
		
		.open>a,
		.nav .open>a:focus,
		.nav .open>a:hover
			background-color white
			color rojo !important
		
		.navbar-header
			.navbar-toggle
				background-color white
				
				.icon-bar
					background-color rojo
		
		.navbar-collapse
			position absolute
			width 100%
			
			.navbar-nav
				background-color rojo
				margin-top 3px	
				
				.marginBottom-0 
					margin-bottom 0

				.dropdown-submenu
					position relative
					
					& > .dropdown-menu
						top 0
						left 100%
						margin-top -6px
						margin-left -1px
						border-radius 0
					
					& > a
						&:after
							display block
							content " "
							float right
							width 0
							height 0
							border-color transparent
							border-style solid
							border-width 5px 0 5px 5px
							border-left-color #cccccc
							margin-top 5px
							margin-right -10px
					
					&:hover
						& > a
							&:after
								border-left-color #555
					
					&.pull-left
						float none
						
						& > .dropdown-menu
							left -100%
							margin-left 10px
							border-radius 6px 0 6px 6px
				
				li
					text-align center
					
					a
						color white
						font-size 18px
						
						&:hover,
						&:focus
							background-color white
							color rojo
					
					&.active
						& > a
							background-color white
							color rojo

.breadcrumb-wrapper
	margin-top 30px
	
	.breadcrumb
		background-color transparent
		
		&:after,
		&:before
			content ""
			clear both
			display block
		
		& > li
			& + li
				margin-left 5px

				&:before
					content normal
		
		li
			float left
			display table
			
			a
				background-color #333333
				color white
				text-decoration none
				padding 0 18px
				display table-cell
				vertical-align middle
				height 30px
				max-width 260px
				line-height 14px
				transition all .5s
				
				&:hover
					background-color #646464
			
			&.active,
			&.current_item
				span
					background-color #FF0000
					color white
					padding 0 18px
					display table-cell
					vertical-align middle
					height 30px
					max-width 260px
					line-height 14px
					overflow hidden
					text-overflow ellipsis
					white-space nowrap

.carousel-wrapper
	padding 30px 0
	
	.owl-next,
	.owl-prev
		position absolute
		top 0
		bottom 0
		left 0
		width 15%
		font-size 20px
		color rojo
		text-align center
		text-shadow 0 1px 2px rgba(0,0,0,.6)
		opacity .5
		cursor pointer
		z-index 2
		
		&:hover
			opacity .9
	
	.owl-prev
	  	background-repeat repeat-x
		background-image linear-gradient(to right,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%)
		
		.glyphicon-chevron-left
			display inline-block
			font-size 30px
			height 30px
			left 25%
			margin-left -15px
			margin-top -15px
			position absolute
			top 50%
			width 30px
			z-index 5
		
	.owl-next
		right 0
		left auto
		background-repeat repeat-x
		background-image linear-gradient(to right,rgba(255,255,255,.0001) 0,rgba(255,255,255,.5) 100%)
		
		.glyphicon-chevron-right
			display inline-block
			font-size 30px
			height 30px
			margin-right -15px
			margin-top -15px
			position absolute
			right 25%
			top 50%
			width 30px
			z-index 5
	
	.container
		padding 0 30px

	.item
		a
			display block

.consult-phone
	min-height 1px
	
	.container
		position relative
		
		figure
			position absolute
			top -40px
			right 15px
			
			img
				display block
			
			figcaption
				color white
				font-weight bold
				
				.number
					position absolute
					top 16px
					left 87px
					font-size 24px
				
				.text-top
					top 8px
					left 90px
					position absolute
					font-size 11px
				
				.text-bottom
					top 41px
					left 90px
					position absolute
					font-size 11px
					letter-spacing 5px

.general-content
	color #333333
	padding 30px 0
	
	a
		color rojo
	
	img
		max-width 100%
		
		&.alignright
			float right
			margin 0 0 1em 1em
		
		&.alignleft
			float left
			margin 0 1em 1em 0
			
		&.aligncenter
			display block
			margin-left auto
			margin-right auto
			
	.alignright
		float right
		
	.alignleft
		float left
		
	.aligncenter
		display block
		margin-left auto
		margin-right auto
	

	h5,
	.h5
		font-size 16px
	
	h6,
	.h6
		font-size 14px
	
	.h1-small
		font-size 16px
	
	.alert-message
		text-align center
		
		span
			display inline-block
			background-color #FF0000
			color white
			padding 10px 20px
	
	.alert-message-fullWidth
		text-align center
		padding 10px 20px
		background-color #FF0000
		color white
	
	.table-multiCols-wrapper
		overflow-x scroll
		
		.table-multiCols
			width 100%
			margin-top 30px
			
			thead
				tr
					background-color #FF0000
					
					th
						color white
						text-align center
						padding 7px 14px
						border 1px solid white
			
			tbody
				tr
					background-color #e6e6e6
					
					td
						text-align center
						padding 7px 14px
						border 1px solid #b3b3b3


	.list-buttons-1
		text-align center
		list-style none
		font-size 0
		margin 0
		padding 0
		
		&:after,
		&:before
			content ""
			clear both
			display block
			
		li
			display inline-block
			margin 20px 8px
			
			a
				display block
				text-decoration none
				font-size 14px
				color white
				padding 10px 14px
				border-radius 10px
				background-gradient(#FF0000, #7f0000)
	
	.button-pdf
		font-weight bold
		background-color #FF0000
		border-radius 10px
		text-decoration none
		padding 12px 47px 12px 15px
		color white
		display inline-block
		position relative
		margin 20px 0
		
		&:before
			content ""
			background url("img/icon-pdf.png") no-repeat 0 0
			width 22px
			height 21px
			display block
			position absolute
			top 50%
			margin-top -10.5px
			right 13px
	
	.certified-letters
		margin 0
		padding 0
		list-style none
		
		li
			background-color #e3e3e3
			position relative
			min-height 220px
			padding-left 176px
			padding-right 20px
			margin-bottom 30px
			
			.letter-img
				display block
				margin-right 20px
				position absolute
				top 0
				left 0
			
			.content-letter
				padding 10px 0
				
				h3
					font-size 14px
					margin-top 10px
					margin-bottom 0
				
				h4
					font-size 14px
				
				.certified
					display inline-block
					color #FF0000
					font-weight bold
					position relative
					padding-right 18px
					
					&:after
						position absolute
						content ""
						width 12px
						height 11px
						background url("img/icon-pdf-2.png") no-repeat 0 0
						top 50%
						margin-top -5.5px
						right 0
	
	.gradient-buttons
		margin-left -15px
		margin-right -15px
		margin-bottom 40px
		
		&:after,
		&:before
			content ""
			clear both
			display block

		.gBtn
			text-decoration none
			background-gradient(#FF1B23, #900000)
			display table
			width 100%
			height 43px
			margin-bottom 20px
			
			span
				display table-cell
				vertical-align middle
				padding 0 16px
				color white
				font-size 14px
				text-align center
				height 43px
				line-height 16px
				
	.large-alert
		background-color #FF0000
		color white
		padding 15px 50px
		margin 10px 0
		
		ul
			margin-left 0
			padding-left 0
			margin-top 10px
		
		.title-alert
			font-size 16px

	.list-checks
		list-style none
		margin 0
		padding 0
		margin-bottom 40px
		
		&.double-arrow
			& > li
				padding-left 18px
				
				&:before
					background none
					content "»"
					top 8px
					left 0
					color #FF0000
					font-size 23px
					line-height 0
		
		& > li
			position relative
			padding-left 12px
			margin-bottom 15px
			
			a
				color #333
			
				&.type-pdf
					display inline-block
					position relative
					padding-right 30px
					
					&:after
						content ""
						background url("img/icon-pdf-3.png") no-repeat 0 0
						width 19px
						height 18px
						position absolute
						top 0
						right 0
			
			&:before
				position absolute
				content ""
				background url("img/icon-check.png") no-repeat 0 0
				width 7px
				height 7px
				top 6px
				left 0
			
			.header-faq
				display inline-block
				padding-right 25px
				font-weight bold
				position relative
				
				.after
					display block
					position absolute
					background url("img/icon-arrow-bottom.png") no-repeat 0 0
					width 19px
					height 19px
					top 0 
					right 0
				
				& + ul
					margin-top 10px
					margin-left -10px
					list-style disc outside none
		

	.list-images
		list-style none
		text-align center
		margin 0
		padding 0
		
		li
			a
				display inline-block
				border 8px solid #CCC
				margin-bottom 30px
			
			&.title
				h1
					color #808080
					font-size 24px
					margin-bottom 30px


	.list-links-years
		a
			color gray_body
			
		& > dt
			background-color #FF0000
			font-weight bold
			color white
			padding 8px
			margin-bottom 15px
			margin-top 35px
			max-width 250px
			
			&:first-child
				margin-top 0
		
		& > dd
			margin-left	15px
	
	.logo-services
		text-align center
		margin-bottom 50px
		margin-top 40px
		
		.img-responsive
			display inline-block


	.message-white
		border 1px solid #666
		margin 15px 0
		padding 15px 50px
		
		h5
			text-align center
		
		ul
			padding-left 0

	.pagination-posts
		text-align center
		
		ul
			display inline-block
			list-style none
			
			&:after,
			&:before
				content ""
				clear both
				display block
			
			li
				float left
				margin 0 4px
				
				&.prev,
				&.next
					a
						background-color transparent
						color #333
						font-size 40px
						line-height 15px
						
						&:hover
							color #FF0000
							background-color transparent
				
				a
					text-decoration none
					display block
					background-color #333
					color white
					text-align center
					width 22px
					height 22px
					border-radius 5px
					
					&.active,
					&:hover
						background-color #FF0000

	.pdf-link-icon
		background url("img/ico-pdf-table.png") no-repeat 0 0
		width 14px
		height 13px
		display inline-block
		margin 0 3px
	
	.post-page
		padding 0 30px
		
		&:after,
		&:before
			content ""
			clear both
			display block
		
		.main-image
			figcaption
				background-color #FF0000
				color white
				padding 18px 20px
				
				h1
					margin 0 0 10px 0
					padding 0
					font-size 18px

			.img-responsive
				width 100%
				

		.share-icons
			margin 10px 0 5px 0
			
		.share-post
			list-style none
			margin 10px 0 15px 0
			padding 0
			
			&:after,
			&:before
				content ""
				clear both
				display block
			
			li
				float left
				margin-left 10px


	.posts-list
		margin 0
		padding 0
		list-style none
		
		& > li
			background-color #e3e3e3
			position relative
			min-height 176px
			padding-left 280px
			padding-right 20px
			margin-bottom 30px
			
			&:after,
			&:before
				content ""
				clear both
				display block
			
			.post-img
				display block
				margin-right 20px
				position absolute
				top 0
				left 0
				background-color #D6D6D6
				padding 5px
			
			.post-social-icons
				list-style none
				margin 0 0 10px 0
				padding 0
				
				&:after,
				&:before
					content ""
					clear both
					display block
				
				li
					float left
					margin-right 8px

			.see-more
				background-color #FF0000
				color white
				text-decoration none
				padding 5px 8px
				margin-bottom 10px
			
			.content-post
				padding 10px 0
				
				h2
					font-size 14px
					margin-top 10px
					margin-bottom 20px
				
	
	.excel-link-icon
		background url("img/ico-excel-table.png") no-repeat 0 0
		width 15px
		height 15px
		display inline-block
		margin 0 3px
	
	.explorer-link-icon
		background url("img/ico-explorer-table.png") no-repeat 0 0
		width 15px
		height 14px
		display inline-block
		margin 0 3px
	

	& > .container > .table-downloads
		margin-top 50px
		
		&:first-child
			margin-top 0
		
		&.two-cols
			& > tbody > tr > td
				padding 0
				width 50%
				
				&:first-child
					td:last-child
						border-right 0 none
										

	.table-downloads
		width 100%
		height 100%
		
		thead
			tr
				background-color #FF0000
				
				th
					color white
					font-weight normal
					padding 14px
					font-size 16px
					border 1px solid #FF0000
					vertical-align middle
		
		tbody
			tr
				background-color #efefef
				
				td,
				th
					padding 7px 14px
					border 1px solid #b0b0b0
					vertical-align middle
					text-align center
					
					&:first-child
						text-align left
						width 100%
				
				td
					.table-downloads
						border 0 none
						margin-bottom 0
						
						tr
							td
								border 0 none
								border-right 1px solid #b0b0b0
								
								&:last-child
									border-right 0 none
							
					&:last-child
						white-space nowrap
				
				th
					font-weight normal
					background-color #c9c9c9
					border-bottom 0 none
				
	
.icon-buttons
	.col-sm-4
		padding 0 45px 0 65px

	.btn-ico
		background-color #ca0000
		text-decoration none
		color white
		text-align center
		display block
		position relative
		padding 14px 10px 14px 36px
		margin-top 4px
		margin-bottom 30px
		
		&:after
			content ""
			background-repeat no-repeat
			background-position 50% 50%
			width 56px
			height 56px
			border-radius 50%
			background-color #ff0000
			position absolute
			top -4px
			left -20px
		
		&.btn-1
			&:after
				background-image url("img/ico3-1.png")
		
		&.btn-2
			&:after
				background-image url("img/ico3-2.png")
				
		&.btn-3
			&:after
				background-image url("img/ico3-3.png")
				
		&.btn-4
			&:after
				background-image url("img/ico3-4.png")
				
		&.btn-5
			&:after
				background-image url("img/ico3-5.png")
				
		&.btn-6
			&:after
				background-image url("img/ico3-6.png")
		
		&.btn-7
			&:after
				background-image url("img/ico3-7.png")

.image-buttons
	margin-bottom 30px
	
	.container
		padding 0 22px
		
		.col-sm-6
			padding 0 8px
			margin-bottom 20px
			display block
			text-decoration none
			
			&:hover
				figure
					.img-responsive
						transform scale(1.1,1.1)
				
				figcaption
					background-color #FF0000
	
	figure
		text-align center
		overflow hidden
		
		figcaption
			color white
			background-color rojo
			font-size 28px
			font-weight bold
			text-align left
			height 98px
			display table
			width 100%
			position relative
			transition all .5s
			
			span
				display table-cell
				padding 0 20px
				vertical-align middle
				line-height 26px
			
		
		.img-responsive
			display inline-block
			transition all .5s

.slider
	position relative
	z-index 2

	.slides-wrapper
		display none
		text-align center
		position relative
		background url("img/shadow-top-slider.png") no-repeat center top, url("img/shadow-bottom-slider.png") no-repeat center bottom
		padding-top 23px
		padding-bottom 40px
		background-size 100% auto
		
		.slidesjs-pagination
			background white
			display inline-block
			text-align center
			text-decoration none
			padding 20px 0
			margin 0
			width 100%
			position relative
			
			li
				text-align center
				display inline-block
				margin 0 8px
				
				a
					display block
					text-decoration none
					font-size 1px
					width 25px
					height 25px
					background-color  #b0b0b0
					color #b0b0b0
					border-radius 50%
					line-height 25px
					transition all .5s
					
					&:hover
						background-color red
						color red
					
					&.active
						background-color red
						color red

	.slide
		position relative
		text-align left
		
		.caption
			position absolute
			background url("img/slider-caption.png") no-repeat 0 50%
			height 100%
			width 467px
			
			.content-caption
				color white
				padding 30px 140px 30px 30px
				
				.content-link
					display block
					text-decoration none
					color white
				
				p
					font-weight bold
					
					&.ref
						font-weight normal
				
				.see-more
					background-gradient(#171717, #5c5c5c)
					display inline-block
					color white
					text-decoration none
					font-size 12px
					padding 5px 20px
					transition all .5s
					
					&:hover
						background-gradient(#343434, #888888)
		
		.image-slider
			width 100%
			padding-bottom 35.088%
			background-size 860px
			background-repeat no-repeat
			background-position right 0

.sponsors
	text-align center
	padding 40px 0
	
	.enlace
		padding-left 7px
		padding-right 7px
		margin-bottom 14px
		
		a
			display block
			position relative
			padding-bottom 30%
			
			.img-responsive
				height 100%
				position absolute
				top 0
				left 0
			

.tabs-section
	margin-bottom 30px
	padding-bottom 20px

	.nav-tabs
		li
			width 25%
			padding 0 2px
			
			a
				background-color red
				color white
				border 0 none
				display table
				width 100%
				height 80px
				font-weight bold
				
				span
					display table-cell
					vertical-align middle
				
				&:hover,
				&:focus
					background-color #c2c4c6
					color #666
			
			&.active
				a
					background-color #c2c4c6
					color #666
					
	
	.tab-content
		background-color #c2c4c6
		background-gradient(#c2c4c6, #FFFFFF)
		
		.button-icon-text
			display block
			background-color rojo
			color white
			text-decoration none
			margin-top 15px
			margin-bottom 15px
			height 110px
			padding 28px 30px 0 100px
			position relative
			
			&:before
				position absolute
				content ""
				background-repeat no-repeat
				background-position 0 0
			
			&.btn-1
				&:before
					background-image url("img/ico2-1.png")
					width 54px
					height 35px
					top 40px
					left 28px
			
			&.btn-2
				&:before
					background-image url("img/ico2-2.png")
					width 49px
					height 52px
					top 31px
					left 28px
			
			&.btn-3
				&:before
					background-image url("img/ico2-3.png")
					width 67px
					height 52px
					top 30px
					left 15px
			
			&.btn-4
				&:before
					background-image url("img/ico2-4.png")
					width 68px
					height 41px
					top 34px
					left 20px
			
			.title-btn
				display block
				font-weight bold
				font-size 24px
				line-height 30px
			
			.text-btn
				display block
				line-height 16px
		
		.img-consejo
			text-align center
			margin-bottom 20px
			
			.img-responsive
				display inline-block

		.tab-pane
			padding 20px

.triangle-buttons
	margin-top 35px
	margin-bottom 28px
	
	.col-sm-3
		padding-left 8px
		padding-right 8px
	
	.col-xs-6
		margin-bottom 7px
		display block
		text-decoration none
		
	.bt-bg
		background-image url("img/btn-1.png")
		background-repeat no-repeat
		height 67px
		position relative
		color white
		
		.after
			position absolute
			background-position 100% 0
			background-repeat no-repeat
			width 47px
			height 42px
		
		&.b-left
			background-position 100% 0
			margin-right -21px
			padding 16px 70px 0 11px
			
			.after
				right 38px
				top 17px
		
		&.b-right
			background-position 0 100%
			margin-left -21px
			padding 16px 76px 0 36px
			
			.after
				right 15px
				top 14px
		

.videos-wrapper
	margin-top 30px
	padding-bottom 30px
	
	.col-sm-4
		overflow hidden
		padding-top 40px
	
	.fb-page
		float left
		
	.header-video
		background-color #e30000
		border-radius 5px 5px 0 0
		color white
		font-weight bold
		text-align center
		padding 10px 80px
		display inline-block
		margin-left 12px

	.video-container
		position relative
		padding-bottom 56.25%
		padding-top 30px
		height 0
		overflow hidden
		
		iframe,
		object,
		embed
			position absolute
			top 0
			left 0
			width 100%
			height 100%
				

@import ("responsive.styl")
	